.index_body{
  *{
    padding: 0px;
    margin: 0px;
  }
  .iscroll_header{
    &{
      position: relative;
      left: 0px;
      top: 0px;
      height: 40px;
      background-color:#3D3D4A;
      width: 100%;
    }
    .iscrollUl{
      &{
        position: absolute;
        left: 0px;
        top: 0px;
        font-size:0px;
        white-space: nowrap;
      }
      li{
        &{
          height: 40px;
          line-height: 40px;
          margin-left:20px;
          font-size:14px;
          height: 40px;
          display: inline-block;
          vertical-align: top;
          color: #ffffff;
        }
        &:first-child{
          margin-left:10px;
        }
      }
    }
  }
}